*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #D9D9D9;
  margin: 33px 40px 31px;
}

.inner {
  display: flex;
  gap: 35px;
  justify-content: center;
  padding: 14px 20px 19px;
}

.inner__brown {
  background-color: #896363;
  max-width: 272px;
  width: 100%;
}

.inner__red {
  background-color: #F45C5C;
  max-width: 597px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  height: 127px;
}

.inner__red_text {
  font-size: 36px;
  color: #801060;
  font-family:system-ui;
}

main {
  display: flex;
  justify-content: center;
}

.main__inner {
  padding: 15px 20px 28px;
  background-color: #D9D9D9;
}

.main__container {
  width: 904px;
  height: 393px;

  display: flex;
  column-gap: 119px;
  row-gap: 21px;
  flex-wrap: wrap;
  /* background-color: #be4b4b; */
}

.card {
  width: 222px;
  height: 186px;
  background-color: #C2FEC4;
}

