.footer__up {
  display: flex;
  justify-content: space-between;

}

.footer__logo {
  font-size: 20px;
  line-height: 25px;
  max-width: 180px;
  color: #FFFFFF;
}

.footer__link {
  list-style-type: none;
  display: flex;
  column-gap: 20px;
  color: #FFFFFF;
}



.footer__title {
  padding: 25px 0px 24px 0px;
  font-size: 48px;
  font-weight: 500;
  width: 100%;
  max-width: 1161px;
}

.footer {
  background-color: #121723;
  padding: 32px 0px 21px 0px;
}