.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 75px 10px 75px;
}

.header__logo {
  font-size: 20px;
  line-height: 25px;
  max-width: 200px;
}

.header__link {
  list-style-type: none;
  display: flex;
  column-gap: 20px;
}


.header__title {
  font-size: 45px;
}


@media screen and (max-width: 767px) {
  .header {
    flex-direction: column;
    row-gap: 10px;
  }
}

.header__title {
  align-items: center;
}