.header {
  display: flex;
  justify-content: space-between;
  margin: 30.18px 157px 15.58px 142.52px;
}

.header__logo {
  font-size: 20px;
  line-height: 25px;
  max-width: 180px;

  padding: 30.18px 1085.18px 16.58px 142.52px;
}

.header__link {
  list-style-type: none;
  display: flex;
  column-gap: 20px;
}



.header__title {
  display: flex;
  font-size: 48px;
  font-weight: 500;
}
