@font-face {
    font-family: "AnonymousPro";
    src: url("./public/fonts/AnonymousPro/AnonymousPro-Regular.ttf");
}

@font-face {
    font-family: "AnonymousProBold";
    src: url("./public/fonts/AnonymousPro/AnonymousPro-Bold.ttf");
}

* {
    font-family: "AnonymousPro";
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
}

/* .header__logo {

}

.header__search {

} */

.header__link {
    list-style-type: none;
    display: flex;
    column-gap: 2px;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 371px;
    max-height: 370px;
}

.card__inner {
    max-width: 1161px;
    display: flex;
    flex-wrap: wrap;
}

.card__container {
    display: flex;
    justify-content: center;
    width: 100%;
}

