@font-face {
  font-family: "AnonymousPro";
  src: url("./public/fonts/AnonymousPro/AnonymousPro-Regular.ttf");
}

@font-face {
  font-family: "AnonymousProBold";
  src: url("./public/fonts/AnonymousPro/AnonymousPro-Bold.ttf");
}

* {
  font-family: "AnonymousPro";
  margin: 0;
  padding: 0;
}
